.example-full-width{
    display: block;
    margin: auto;
    width: 20%;
}
button{
    display: block;
    margin: auto;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: center;

}
span{
   
    color: blue;
    font-size: x-large;
}
.mat-form-field{
    text-align: right;
    }
   